node_modules
packages/**/lib
packages/**/docs
packages/**/coverage
packages/**/storybook-static
storybook-static
packages/**/junit.xml
.npmrc
.cache
.yarn/*
.yarn/install-state.gz
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
examples/**/dist
examples/**/.parcel-cache
dev/ca.*
